@media screen and (min-width:1025px){

.navbar-custom{
  background-color:  brown;
}  
.navbar-custom .navbar-brand,
.navbar-custom .nav-link{
  color: white;
}

 
#logo{
  width: 20vw;
  margin: 1.25rem;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 15%;
  left: 38%;
}

#btn1{
  padding: 3rem;
  margin: 1.25rem;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 25rem;
  right: 22rem;
}  

#btn2{
  padding: 3rem;
  margin: 1.25rem;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 25rem;
  left: 22rem;
} 

#btn3{
  padding: 3rem;
  margin: 1.25rem;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 3rem;
  right: 1.25rem;
} 

#btn4{
  padding: 3rem;
  margin: 1.25rem;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 3rem;
  left: 1.25rem;
} 
  
}

@media screen and (max-width:1024px){

.navbar-custom{
  background-color:  brown;
}  
.navbar-custom .navbar-brand,
.navbar-custom .nav-link{
  color: white;
}

#logo{
  width: 35vw;
  margin: 1.25rem;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 25%;
  left: 30%;
}


#btn1{
  padding: 2.5rem;
  margin: 1.25rem;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 25rem;
  right: 2rem;
}  

#btn2{
  padding: 2.5rem;
  margin: 1.25rem;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 25rem;
  left: 2rem;
} 

#btn3{
  padding: 2.5rem;
  margin: 1.25rem;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 3rem;
  right: 1.25rem;
} 

#btn4{
  padding: 2.5rem;
  margin: 1.25rem;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 3rem;
  left: 1.25rem;
} 

}