@media screen and (min-width:1025px){
  h1{
    color: red; 
    text-align: center;
    direction: rtl;
    margin: 0.75rem;
    padding-left: 6.25rem;
    font-weight: 900;
  }

  h2{
    color: purple;
    text-align: right;
    direction: rtl;
    margin: .75rem;
    padding-left: 12.5rem; 
  }
  body{
    color:black;
    text-align: right;
    direction: rtl;
    padding-top: 3.125rem;
  }

  p2{
    color: black;
    text-align: right;
    direction: ltr;
  }
  span{
    color: brown;
    font-family: Times New Roman;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;  
    display: flex;
    justify-content: center;
  }

  span2{
    direction: ltr;
  }
  
  #logo{
    width: 20vw;
    margin: 1.25rem;
    display: block;         /*be under each other but inline be beside each other*/
    position: absolute;     /*static - relative - absolute - fixed*/
    top: 1.25rem;
    left: 0rem;
  }

.first{
  width: 90%;
}
  
  
.fourth{
  color: white;
  background-color: brown;
  padding:1rem 2rem;
  border-radius: 1.25rem;
  text-decoration: none;
}  
  
.btn{
  color: Purple;
}
  
  /*body{
    background-image: url("panar.png");
    background-size: cover;
    background-repeat: no-repeat;
  } */
  
.container{
  width: 100%;
  height: auto;
  margin: 1.25rem;
  display: inline-block;
}
  
.navbar-custom{
  background-color:  brown;
}  
.navbar-custom .navbar-brand,
.navbar-custom .nav-link{
  color: white;
}    
}

@media screen and (max-width: 1024px) {  
    h1 {
        color: red;
        text-align: center;
        direction: rtl;
        margin: 1.5rem;
        padding-left: 6.25rem;
        font-weight: 900;
        line-height: 3rem;
    }

    h2 {
        color: purple;
        text-align: right;
        direction: rtl;
        margin: 1.5rem;
        padding-left: 6.25rem;
    }

    body {
      color: black;
      text-align: right;
      direction: rtl;
      padding-top: 3rem;
    }

    p2 {
        color: black;
        text-align: right;
        direction: ltr;
    }

    span {
        color: brown;
        font-family: Arial, sans-serif;
        font-size: 1.6rem;
        font-weight: 600; /* تقليل الوزن ليكون مناسبًا */
        font-style: italic;
        display: flex;
        justify-content: center; 
    }

    #logo {
        width: 30vw;
        margin: 0rem;
        display: block;
        position: absolute;
        top: 6.5rem;
        left: 0rem;
    }
  
.first{
  width: 90%;
}
  
.fourth{
  color: white;
  background-color: brown;
  padding:1rem 2rem;
  border-radius: 20px;
  text-decoration: none;
}  
  
.btn{
  color: purple;
  background-color: white;
  
  padding:0.3rem 0.3rem;
  border-radius: 4.5rem;
  text-decoration: none;
  line-height: 3rem;
}  
  
.container{
  width: 90%;
  height: auto;
  margin: 1.25rem;
  display: inline-block;
}  
  
.navbar-custom{
  background-color:  brown;
}  
.navbar-custom .navbar-brand,
.navbar-custom .nav-link{
  color: white;
}
}