@media screen and (min-width:1025px){

.navbar-custom{
  background-color:  brown;
}  
.navbar-custom .navbar-brand,
.navbar-custom .nav-link{
  color: white;
}

 
#logo{
  height: 250px;
  width: 250px;
  margin: 20px;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 20px;
  left: 500px;
}

#btn1{
  padding: 50px;
  margin: 20px;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 400px;
  right: 350px;
}  

#btn2{
  padding: 50px;
  margin: 20px;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 400px;
  left: 350px;
} 

#btn3{
  padding: 50px;
  margin: 20px;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 50px;
  right: 20px;
} 

#btn4{
  padding: 50px;
  margin: 20px;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 50px;
  left: 20px;
} 
  
}

@media screen and (max-width:1024px){

.navbar-custom{
  background-color:  brown;
}  
.navbar-custom .navbar-brand,
.navbar-custom .nav-link{
  color: white;
}

#logo{
  height: 250px;
  width: 250px;
  margin: 20px;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 20px;
  left: 250px;
}


#btn1{
  padding: 50px;
  margin: 20px;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 400px;
  right: 150px;
}  

#btn2{
  padding: 50px;
  margin: 20px;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 400px;
  left: 150px;
} 

#btn3{
  padding: 50px;
  margin: 20px;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 50px;
  right: 20px;
} 

#btn4{
  padding: 50px;
  margin: 20px;
  display: block;         /*be under each other but inline be beside each other*/
  position: absolute;     /*static - relative - absolute - fixed*/
  top: 50px;
  left: 20px;
} 

}